PORT=5000
MONGODB_URI=mongodb+srv://tuktukadmin:Admin12@cluster0.ovq2yqv.mongodb.net/tuktuk-tracker?retryWrites=true&w=majority
JWT_SECRET=policeSriLanka2024SuperSecretKey
JWT_EXPIRES_IN=24h
NODE_ENV=development
